.projetos {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.projetos h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  margin: 30px 0;
}

.grid_projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 60px auto;
}

.projeto_item {
  width: 250px;
  border-radius: 14px;
  padding: 5px;
  text-align: center;
  -webkit-box-shadow: 2px 10px 21px -5px rgba(0, 0, 0, 0.507);
  -moz-box-shadow: 2px 10px 21px -5px rgba(0, 0, 0, 0.486);
  box-shadow: 2px 10px 21px -5px rgba(0, 0, 0, 0.493);
  transition: all 0.2s ease-in-out;
}


.projeto_item h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.projeto_item p {
  font-size: 0.8rem;
  line-height: 150%;
  margin: 10px 0;
}

.projeto_item img {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}

.assets_projeto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  margin-top: 20px;
}

.techs_projeto {
  margin-top: 20px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
}

.links_projeto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links_projeto a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--primary-turquoise);
  padding: 5px 10px;
  border-radius: 14px;
  font-size: 0.9rem;
  border: 1px solid transparent;
}

.links_projeto a:hover {
  background-color: var(--secondary-turquoise);
  color: var(--white);
  border-color: var(--secondary-turquoise);
}

@media (max-width: 768px) {
  .grid_projetos {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }

  .projeto_item {
    width: 100%;
  }
}

