@charset "UTF 8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --turquoise: #6DD6DA;
    --sapphire: #086375;
}

.nav-btn {
    border: 0;
    border-radius: 4px;
    padding: 5px;
    margin: 8px;
    background-color: black;
    cursor: pointer;
}

.nav-btn i {
    color: white;
    font-size: 1.7em;
}

.overlay {
    height: 100%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a{
    padding: 8px;
    color: #086375;
    display: block;
    font-size: 20px;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #6DD6DA;

}

.overlay .close-btn {
    position: absolute;
    color: #086375;
    top: 25px;
    right: 45px;
    font-size: 60px;
}

