@charset "UTF 8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --green: #20b2aa;
    --white: #fff;
    --darkgreen: #041B15;
}

html, body {
    width: 100%;
}

header {
    background-color: var(--darkgreen);
    height: 80px;
}

nav p {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
}

nav p:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-item a {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.4s;
}

.nav-item a:hover {
    color: var(--green);
    border-bottom: 1px solid var(--green);
    padding-bottom: 5px;
}

.btn-contato {
    margin-right: 10px;
    padding: 5px 20px;
    border: 1px solid var(--green);
    border-radius: 20px;
    background: transparent;
    color: aliceblue;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.4s;
}

.btn-contato:hover {
    background: var(--green);
    cursor: pointer;
}