:root {
  font-family: 'Lato', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #F3EFF5;
  --black: #262626;
  --primary-turquoise: #50A2A7;
  --secondary-turquoise: #499497;
  --primary-blue: #3075C5;
  --secondary-blue: #2862A4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
